h1 a {
  color: #FF490D;
  font-family: 'Mali', cursive;
}

body{
  padding-left: 15px;
}

.page-header {
  background-color: #FF4900;
  margin-top: 0px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active{
  color: #ffffff;
  font-size: 36pt;
  text-decoration:none;
}

.content{
  margin-left: 40px;
}

h1, h2, h3, h4{
  font-family: 'Mali', cursive;
}

.date{
  color: #828282;
}

.save:{
  float: right;
}

.post-form textarea, .post-form input{
  width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited{
  color:#ffffff;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
}

.post{
  margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited{
  color:#000000;
}

/* .section-header{
  background-color: #9DD2E3;
} */

.section-header h1{
  font-size: 30pt;
  margin-bottom: 60px;
  padding-left:40px;
  padding-bottom:20px

}

.post_list
